extends admin_template

//- NOTE: CSS FOR BUTTONS IS LOCATED UNDER THE layout_template

block content
	style.
		.card-container{
			padding-top:10px;
			padding-bottom:20px;
		}
		.btn_card{
			/*Defines CSS for butons on the dashboard*/
			margin: 0px 10px 10px 10px;
		}
		#ex1Slider .slider-selection {
			background: #BABABA;
		}
	link(rel='stylesheet' href='/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css')
	link(rel='stylesheet' type='text/css' href='/css/digital_pantry.css')
	//- Stores a variable passed in, which defines an image path
	- card1_image= recipe_image_path
	- card2_image= stir_fry_image
	- card3_image= pot_pie_image
	- rid_variable= rid
	br
	div(class='container-fluid', class='rounded', style='width: 80%')
		//- Overlay form start. In other words view recipe form
		#viewRecipeDetails.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true', class= 'form-modal')
			.modal-dialog.modal-dialog-centered.modal-lg(role='document')
				.modal-content
					.modal-header
						h4.modal-title Recipe details
					.modal-body
						h5 RECIPE NAME HERE
						br
						table.table.rounded.table-hover.table-dark
							thead
								tr
									th(scope='col', style="background-color:white;border:none;") 
									th(scope='col') Requires
									th(scope='col') On-hand
									th(scope='col', style="background-color:white; border:none;")
							tbody
								#ingredientRow
						h4.modal-title Recipe steps
						hr
						br
						#recipeStepsOverlay
					.modal-footer
		//-Overlay form end
		//- #accordionExample.accordion
		//- 	.card
		//- 		#headingTwo.card-header
		//- 			h5.mb-0
		//- 				button.btn.btn-link.collapsed(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
		//- 					| Show settings
		//- 		#collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
		//- 			.card-body
		.row
			.col-sm-8 Show me recipes for ingredients expiring in 
				btn-toolbar(role='toolbar', aria-label='Toolbar with button groups')
					.btn-group.btn-group-sm.mr-2(role='group', aria-label='First group')
						button.btn.btn-secondary(class='combo-box' type='button') 1
						button.btn.btn-secondary(class='combo-box' type='button') 5
						button.btn.btn-secondary(class='combo-box' type='button') 10
						button.btn.btn-secondary(class='combo-box' type='button') 15
					| days
		.row.mt-2
			.col-sm-8
				| Show me recipes where i am missing a few ingredients. 
				button.btn.btn-sm.btn-success#ingredientFilterBtn(type='button') Yes
		.row.mt-2
			.col-sm-8
				.form-inline
					| I am cooking for
					.col-sm-2
						.input-group.input-group-sm
							input.form-control(id='cookForNumberOfPeople' style="text-align:center;valign:middle;" type='text') 
					| people

		br
		!= messages('message', locals)
		- var test;
		for i in data
			div.bg-dark.card-container(class='container-fluid', class='rounded')
				h3.text-white 
					|  #{i.ingredient_amount} #{i.ingredient_unit_of_measurement} of #{i.ingredient_name} is expiring in #{(i.ingredient_expiration_date)} 
				div(class='row')
					for recipe in i.recipe_data
						if recipe.num_of_ingredients_on_hand == recipe.num_of_ingredients
							- test = "div class='col-4 haveAllIngredientsRecipe'";
						else
							- test = "div class='col-4 dontHaveAllIngredients' style='display: none;'";
						#{test}
							div.card.h-100(recipe-id=recipe.recipe_id , style='width: 100%')
								img.image(class='card-img-top', src=recipe.recipe_image_path, alt="#{(recipe.recipe_name)}")
								.card-body
									h4(id='recipeName', lass='card-title') #{recipe.recipe_name}
									br
									p(class="card-text") Cooked #{recipe.num_of_times_cooked} times.
									br
									p(class='card-text') Ingredients: #{(recipe.num_of_ingredients_on_hand)} out of #{recipe.num_of_ingredients}

									//- For each steps inside of the array of steps
									for step in recipe.recipe_directions
										p.card-text.recipeStep= step
									//- btn_card is a custom class used for CSS for buttons
								.card-footer
									.container
										.row
											.col
												.text-center
													button.btn.btn-primary(class='test', id='showRecipeDetails', type='button', data-toggle='modal', data-target='#viewRecipeDetails') Details
													button.btn.btn-primary(recipe-id=rid, id='card-one', type='button') Cook It!
			br


	script(src='/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js')
	script(src="/js/viewRecipeDetailsDashboard.js")
	script(type='text/javascript').
		var allData = '!{storedData}'
		allData = JSON.parse(allData)
		$(window).on('load', function() {
			// This gets passed in from the route
			$('.combo-box').removeClass('active')
			expirationTimeFrame = '#{expirationTimeFrame}'
			$elements = $(`.combo-box:contains(${expirationTimeFrame})`).eq(0).addClass('active')

			$('.combo-box').click(function printExpirationValue(){
				let value = $(this).text()
				$('.combo-box').removeClass('active')
				$(this).addClass('active')
				$.ajax({
					type: 'POST',
					url: '/pantry/setExpirationTimeFrame',
					data: { expirationTimeFrameValue: value },
					success: function () {},
					error: function (err) {
						console.log(err)
					}
				})
			})

			$('#ingredientFilterBtn').click(function filter(){
				buttonText = $(this).text()
				if (buttonText == 'Yes'){
					$(this).text('No')
					$(this).removeClass('btn-primary')
					$(this).addClass('btn-danger')
					$('.dontHaveAllIngredients').show()
				}else{
					$(this).text('Yes')
					$(this).removeClass('btn-danger')
					$(this).addClass('btn-success')
					$('.dontHaveAllIngredients').hide()
				}
				
			})
		})
		function edit(){
			document.getElementById('name').setAttribute("contenteditable", "true");
			document.getElementById('name').focus()
			document.getElementById('edit-btn').classList.add("disabled");
			document.getElementById('save-pantryName-btn').classList.remove("disabled");
		}