extends user_view_template

//- NOTE: CSS FOR BUTTONS IS LOCATED UNDER THE layout_template

block content
	style.
		.card-container{
			padding-top:10px;
			padding-bottom:20px;
		}
		.btn_card{
			/*Defines CSS for butons on the dashboard*/
			margin: 0px 10px 10px 10px;
		}
		#ex1Slider .slider-selection {
			background: #BABABA;
		}
	link(rel='stylesheet' href='/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css')
	//- Stores a variable passed in, which defines an image path
	- card1_image= recipe_image_path
	- card2_image= stir_fry_image
	- card3_image= pot_pie_image
	- rid_variable= rid
	br
	div(class='container-fluid', class='rounded', style='width: 80%')
		//- Overlay form start. In other words view recipe form
		#editRecipe.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true', class= 'form-modal')
			.modal-dialog.modal-dialog-centered.modal-lg(role='document')
				.modal-content
					.modal-body
						form(method= 'POST', action='/recipes/edit', class='form')
							h4
							hr
							br
							//- Edit recipe information fields
							.form-row
								.form-group.col-md-6
									label(for='recipe-name') Recipe name
									input.form-control(name="recipeName", type='text', placeholder="Recipe name", class='form-group')
								.form-group.col-md-6
									label(for='serving-size') Serving size
									input.form-control(name="recipeSize", type='text', placeholder="Serving Size", class='form-group')
							br
							h5 Ingredients
							hr
							br
							//- Edit ingredient information fields
							.form-row
								.form-group.col-md-4
									| Name
								.form-group.col-md-3
									| Qty
								.form-group.col-md-3
									| Measurement
							//- Although it might seem like ingredient row does nothing
							//- #ingredient-rows is used for Jquery 
							#ingredient-rows
							#dynamic-ingredient-row
							hr
							br
							button.btn.btn-primary(type='submit', id='save-showall-rec') Save changes
							button.btn.btn-secondary(class='btn-success', type='button', onclick='addIngredient()', class='form-group') Add Ingredient
							button.btn.btn-secondary(type='button', data-dismiss='modal', class='form-group') Close
		//-Alert form end
		div.bg-dark.card-container(class='container-fluid', class='rounded')
			.row
				.col-sm
					input#expirationWindowSlider(data-slider-id='expirationWindowSlider', type='text', data-slider-min='0', data-slider-max='30', data-slider-step='1', data-slider-value='10')
			.row
				.col-sm-5
					h3.text-white#currentSliderValue Expiration time frame: #{expirationTimeFrame} days
				.col-sm-2
					input.btn.btn-primary(id='sortByTimeFrameBtn', type='submit', value='Sort')
			.row
				.col-sm

		br
		!= messages('message', locals)
		for i in data
			div.bg-dark.card-container(class='container-fluid', class='rounded')
				h3.text-white Expiring Ingredient:
					|  #{i.ingredient_amount} #{i.ingredient_unit_of_measurement} of #{i.ingredient_name} on #{(i.ingredient_expiration_date)}
				div(class='row')
					for recipe in i.recipe_data
						div(class='col-4')

							div(class='card', style='width: 100%', class='card h-100')
								img.image(class='card-img-top', src=recipe.recipe_image_path, alt="#{(recipe.recipe_name)}")
								div(class='card-body')
									h4(class='card-title') #{recipe.recipe_name}
									br
									p(class='card-text') Ingredients: #{(recipe.num_of_ingredients_on_hand)} out of #{recipe.num_of_ingredients}

									//- For each steps inside of the array of steps
									for step in recipe.recipe_directions
										p(class='card-text')= step



								div(class='card-foot', padding='.75rem')
									//- btn_card is a custom class used for CSS for buttons
									a.btn.btn-primary.edit-recipe(type='button', data-toggle='modal', data-target='#editRecipe') View Ingredient
									button.btn_card.btn.btn-primary(recipe-id=rid, id='card-one', type='button', style='width: 93%') Cook It!
			br


	script(src='/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js')
	script(type='text/javascript').
		$(window).on('load', function() {
			var slider = new Slider("#expirationWindowSlider")
			slider.on("slide", function(sliderValue) {
				document.getElementById("currentSliderValue").textContent = 'Expiration time frame: ' + sliderValue + ' days';
			});
		});