extends main_layout_template

//- Replaces 'block content' inside layout_template with whatever Renders parameter 'title'

block content
	style.
		#example_length{
			display:none
		}
		#example_paginate{

		}
		.page-item.active .page-link{
			background-color: #eeaf2c !important;
			border-color:#eeaf2c !important;
			z-index:0
		}
		th{
			border-top: 1px double #570573 !important;
			border-bottom:1px double #570573 !important;
		}
		td{
			border-bottom:1px double #570573 !important;
			border-top: none !important;
		}
		.page-link{
			color:#570573 !important;
		}
		.dataTables_filter {
			display: none;
		}
		.table.dataTable{
			margin-top: 0px !important;
		}
		div.dataTables_wrapper div.dataTables_info{
			color:#570573 !important;
		}
	br
	br
	br
	br
	div(class='container-fluid', class='rounded', style='width: 90%')
		h1.dp-title-text #{title}
		br
		a.btn.dp-change-view(href='/ingredients/expired')
			i.dp-change-view.fa.fa-th-large.fa-lg.mr-1
			| Card View
		input.btn#myInputTextField.dp-search.pull-right(,type='text', placeholder='Search')
		br
		br
		table.table.dp-table.mt-0#example
			//-caption Available Ingredients
			thead
				tr
					th(scope='col')
					th(scope='col') Name
					th(scope='col') Total
					th(scope='col') Measurement
					th(scope='col') Expiration Date
					th(scope='col') Action
			tbody
				for item in results
					tr
						td
							img(src=item.ingredient_image_path, alt='image', width='50', height='50')
						td(class='align-middle')= item.ingredient_name
						td(class='align-middle')= item.ingredient_amount
						td(class='align-middle')= item.ingredient_unit_of_measurement
						td(class='align-middle')= item.ingredient_expiration_date
						td(class='align-middle')
							//- Set a button with data-id that will be used for AJAX trigger defines in /js/main.js
							a.btn.btn-outline-danger.delete-ingredient(href='#',data-id=item.ingredient_id,data-ex=item.ingredient_expiration_date, data-unit=item.ingredient_unit_of_measurement, data-qty=item.ingredient_amount)  REMOVE
		form(method='GET', action='/ingredients/add')
	script.
		script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
		link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css')
		script(src='https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js')
		script(src='https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js')
		$('#example').dataTable( {
			"dom": '<lf<t>ip>',
			"order":[1, 'asc'],
			"columns": [
				{ "orderable": false },
				null,
				null,
				null,
				null,
				{ "orderable": false },
			]
		} );
		oTable = $('#example').DataTable();   //pay attention to capital D, which is mandatory to retrieve "api" datatables' object, as @Lionel said
		$('#myInputTextField').keyup(function(){
			oTable.search($(this).val()).draw() ;
		})