extends admin_template

//- Replaces 'block content' inside layout_template with whatever Renders parameter 'title'

block content
	br
	br
	br
	br
	div(class='container-fluid', class='rounded', style='width: 80%')
		h1 #{title}
		br
		a.btn.btn-default(href='/ingredients/expired')
			i(style='color:black').fa.fa-th-large.fa-2x
		a.btn.btn-default(href='/ingredients/expiredAdmin')
			i(style='color:black').fa.fa-list.fa-2x
		br
		br
		table.table.table-dark(class='rounded')
			//-caption Available Ingredients
			thead
				tr
					th(scope='col')
					th(scope='col') Name
					th(scope='col') Total
					th(scope='col') Measurement
					th(scope='col') Expiration Date
					th(scope='col') Action
			tbody
				for item in results
					tr
						td
							img(src=item.ingredient_image_path, alt='image', width='50', height='50')
						td(class='align-middle')= item.ingredient_name
						td(class='align-middle')= item.ingredient_amount
						td(class='align-middle')= item.ingredient_unit_of_measurement
						td(class='align-middle')= item.ingredient_expiration_date
						td(class='align-middle')
							//- Set a button with data-id that will be used for AJAX trigger defines in /js/main.js
							a.btn.btn-danger.delete-ingredient(href='#',data-id=item.ingredient_id,data-ex=item.ingredient_expiration_date, data-unit=item.ingredient_unit_of_measurement, data-qty=item.ingredient_amount)  DELETE
		form(method='GET', action='/ingredients/add')