extends user_view_template

//- Replaces 'block content' inside layout_template with whatever Renders parameter 'title'

block content
    br
    br
    br
    div(class='container-fluid', class='rounded', style='width: 80%')
        h1 #{title}
        br
        table.table.table-dark
            thead
                tr
                    th(scope='col') Recipe ID
                    th(scope='col') Pantry ID
                    th(scope='col') Recipe name
                    th(scope='col') Serving size
                    th(scope='col') Ingredients needed
                    th(scope='col') Action
            tbody
                for item in results
                    tr
                        th(scope='row')= item.recipe_id
                            td= item.recipe_pantry_id
                            td= item.recipe_name
                            td= item.recipe_serving_size
                            td= item.ingredients
                            td
                                //- Set a button with data-id that will be used for AJAX trigger defines in /js/main.js
                                a.btn.btn-danger.delete-recipe(href='#', data-id=item.recipe_id) DELETE
        form(method='GET', action='/recipes/add')
            input.btn.btn-primary(type='submit', value='ADD RECIPES')