extends layout_template

//- Replaces 'block content' inside layout_template with whatever Renders parameter 'title'

block content
    .col-md-12
        br
        br
        h1.mb-3 #{title}
        br
        br
        table.table.table-dark
            caption Available recipes
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Name
                    th(scope='col') Size
                    th(scope='col') Expiration date
                    th(scope='col') Quantity
            tbody
                for item in results
                    tr
                        th(scope='row')= item.recipeID
                            td= item.pantryID
                            td= item.recipeName
                            td= item.servingSize
                            td= item.ingredients